POSTGRES_USER=ultimacuota
POSTGRES_PASSWORD=cambia-est-password
POSTGRES_DB=ultimacuota
JWT_SECRET=cambia-este-secreto-en-produccion
PORT=4000
DB_HOST=db
DB_PORT=5432
REACT_APP_API_URL=http://localhost:4000
